<h1>Edit Outlet</h1>
<%= form_with scope: :outlet, url: outlets_path, local: true do |form| %>
  <p>
	<%= form.label :name %><br>
	<%= form.text_field :name %>
  </p>
  <p>
	<%= form.label :logo %><br>
	<%= form.text_area :logo %>
  </p>
  <p>
	<%= form.label :block %><br>
	<%= form.text_field :block %>
  </p>
  <p>
	<%= form.label :road %><br>
	<%= form.text_field :road %>
  </p>
  <p>
	<%= form.label :building %><br>
	<%= form.text_field :building %>
  </p>
  <p>
	<%= form.label :unit %><br>
	<%= form.text_field :unit %>
  </p>
  <p>
	<%= form.label :postal_code %><br>
	<%= form.text_field :postal_code %>
  </p>
  <p>
	<select id="halal_type" name="halal_type">
		<option value="muslim">Muslim-owned</option>
		<option value="certified">Halal-certified</option>
	</select>
	</p>
  <p>
  <select id="dining_type" name="dining_type">
	  <option value="hawker">Hawker</option>
	  <option value="restaurant">Restaurant</option>
	  <option value="cafe">Cafe</option>
	  <option value="kiosk">Kiosk</option>
	  <option value="foodcourt">Foodcourt</option>
	  <option value="bazaar">Bazaar</option>
	</select>
	</p>

  <%= form.collection_check_boxes :cuisine_ids, @cuisines, :id, :name %>

  <p>
	<%= form.label :menu %><br>
	<%= form.text_area :menu %>
  </p>
  <p>
	<%= form.label :website %><br>
	<%= form.text_field :website %>
  </p>
  <p>
	<%= form.label :phone %><br>
	<%= form.text_field :phone %>
  </p>
  <p>
	<%= form.label :opening_hours %><br>
	<%= form.text_area :opening_hours %>
  </p>

  <p>
	<%= form.submit %>
  </p>
<% end %>