<p>
    <strong>Outlet Name</strong>
    <%= @outlet.name %>
  </p>
  <p>
    <strong>Logo</strong>
    <%= @outlet.logo %>
  </p>
  <p>
    <strong>Block</strong>
    <%= @outlet.block %>
  </p>
  <p>
    <strong>Road</strong>
    <%= @outlet.road %>
  </p>
  <p>
    <strong>Building</strong>
    <%= @outlet.building %>
  </p>
  <p>
    <strong>Unit</strong>
    <%= @outlet.unit %>
  </p>
  <p>
    <strong>Postal Code</strong>
    <%= @outlet.postal_code %>
  </p>
  <p>
    <strong>Dining Type</strong>
    <%= @outlet.dining_type %>
  </p>
  <p>
    <strong>Halal Type</strong>
    <%= @outlet.halal_type %>
  </p>
  <p>
    <strong>Menu</strong>
    <%= @outlet.menu %>
  </p>
  <p>
    <strong>Website</strong>
    <%= @outlet.website %>
  </p>
  <p>
    <strong>Phone</strong>
    <%= @outlet.phone %>
  </p>
  <p>
    <strong>Opening Hours</strong>
    <%= @outlet.opening_hours %>
  </p>

  <%= link_to 'Edit', edit_outlet_path(@outlet) %>