<div class="container">


	<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

	<table class="table outlets-show">
	  <thead class="outlets-show-head">
	    <tr>
	      <th scope="col" colspan="2" style="text-align: center; font-size:30px;"><%= @outlet.name %></th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th scope="row">Logo</th>
	      <td><img src= <%= @outlet.user.avatar %> /></td>
	    </tr>
	    <tr>
	      <th scope="row">Block</th>
	      <td><%= @outlet.block %></td>
	    </tr>
	    <tr>
	      <th scope="row">Road</th>
	      <td><%= @outlet.road %></td>
	    </tr>
	    <tr>
	      <th scope="row">Building</th>
	      <td><%= @outlet.building %></td>
	    </tr>
	    <tr>
	      <th scope="row">Unit</th>
	      <td><%= @outlet.unit %></td>
	    </tr>
	    <tr>
	      <th scope="row">Postal Code</th>
	      <td><%= @outlet.postal_code %></td>
	    </tr>
	    <tr>
	      <th scope="row">Halal Type</th>
	      <td><%= @outlet.halal_type %></td>
	    </tr>
	    <tr>
	      <th scope="row">Dining Type</th>
	      <td><%= @outlet.dining_type %></td>
	    </tr>
	    <tr>
	      <th scope="row">Menu</th>
	      <td><img src= <%= @outlet.menu %> /></td>
	    </tr>
	    <tr>
	      <th scope="row">Website</th>
	      	<% if @outlet.website === "" %>
	      		<td></td>
	      	<% else %>
	      		<td><%= link_to 'website', @outlet.website, :target => "_blank" %></td>
	      	<% end %>
	    </tr>
	    <tr>
	      <th scope="row">Phone</th>
	      <td><%= @outlet.phone %></td>
	    </tr>
	    <tr>
	      <th scope="row">Opening Hours</th>
	      <td><%= @outlet.opening_hours %></td>
	    </tr>
	  </tbody>
	</table>

	<% if @outlet.user_id === current_user.id %>
  	<%= link_to 'Edit', edit_outlet_path(@outlet), {:class => "btn btn-info", :style => "margin: 0 45%;"} %>
  <% end %>
</div>