<div class="container">

	<table class="table outlets-show">
	  <thead class="outlets-show-head">
	    <tr>
	      <th scope="col" colspan="2" style="text-align: center; font-size:30px;"><%= @outlet.name %></th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th scope="row">Logo</th>
	      <td><img src= <%= @outlet.user.avatar %> /></td>
	    </tr>
	    <tr>
	      <th scope="row">Block</th>
	      <td><%= @outlet.block %></td>
	    </tr>
	    <tr>
	      <th scope="row">Road</th>
	      <td><%= @outlet.road %></td>
	    </tr>
	    <tr>
	      <th scope="row">Building</th>
	      <td><%= @outlet.building %></td>
	    </tr>
	    <tr>
	      <th scope="row">Unit</th>
	      <td><%= @outlet.unit %></td>
	    </tr>
	    <tr>
	      <th scope="row">Postal Code</th>
	      <td><%= @outlet.postal_code %></td>
	    </tr>
	    <tr>
	      <th scope="row">Halal Type</th>
	      <td><%= @outlet.halal_type %></td>
	    </tr>
	    <tr>
	      <th scope="row">Dining Type</th>
	      <td><%= @outlet.dining_type %></td>
	    </tr>
	    <tr>
	      <th scope="row">Menu</th>
	      <td><img src= <%= @outlet.menu %> /></td>
	    </tr>
	    <tr>
	      <th scope="row">Website</th>
	      <td><%= @outlet.website %></td>
	    </tr>
	    <tr>
	      <th scope="row">Phone</th>
	      <td><%= @outlet.phone %></td>
	    </tr>
	    <tr>
	      <th scope="row">Opening Hours</th>
	      <td><%= @outlet.opening_hours %></td>
	    </tr>
	  </tbody>
	</table>

	<% if @outlet.user_id === current_user.id %>
  	<%= link_to 'Edit', edit_outlet_path(@outlet), {:class => "btn btn-info", :style => "margin: 0 45%;"} %>
  <% end %>
</div>